body {
    display: block;
    margin: 0 auto;
    font-family: sans-serif;
}


h1 {
    color: #e62143;
}

.conteudo img{
    min-width: 100%;
    height: auto;
}

.redes img{

    max-height: 3rem;
    width: auto;
    margin: 10px;
}

.redes {
    display: flex;
    justify-content: center;
    padding: 10px auto;
    margin: auto;
    width: 50%;

}